body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(backgroundMVP.jpg);
    background-position: center;
    background-size:cover;


}
#JournalCover{
    position: relative;

}
#OpenJournalCover{
    width: 765.75px;
    height: 878.95px;
    border-radius: 1.5vw;
    display:block;
    box-shadow:10px 50px 50px #485123;

}

#openJournalButton{
    position:absolute;
    top:67%;
    left: 20%;
    width: 400px;
    height: 75px;
    opacity: 0;
}

 #entries{
    background-color: #ebe4d5 ;
    font-family: 'Quicksand', sans-serif;
    width: fit-content;
    height: fit-content;
    border-radius: 1.5vw;
 }

 #selectTitle{
    background-color: #ebe4d5;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 1.5vw;
 }


#entryDataContainer{
    margin-top: 3vh;
    padding: 1vw;
    background-image: url(journalCoverBackground.png);
    border-radius: 1.5vw;
    box-shadow:10px 50px 50px #485123;

}


.entryContainerClass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    height: fit-content;
    padding: 5vh;
    padding-top: 10%;
    padding-bottom: 20%;
    box-shadow:0 .5vh 0vw #cbb893;
    border-radius: 1vw;
    background-image: url(paperBackground.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;

    
    
}

#titleID{
    background-color: #ebe4d5;
    padding: 3vw;
    margin-top: 2vh;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    border-radius: 1.5vw;
    box-shadow:0 .5px 8px #cbb893;
    font-size: 22px;
}

#affirmationID{
    background-color: #ebe4d5;
    padding: 3vw;
    margin-top: 4vh;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    box-shadow:0 .5px 8px #cbb893;
}

#gratefulForID{
    background-color: #ebe4d5;
    padding: 3vw;
    margin-top: 3vh;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    box-shadow:0 .5px 8px #cbb893;}

#goodThingsID{
    background-color: #ebe4d5;
    padding: 3vw;
    margin-top: 3vh;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    box-shadow:0 .5px 8px #cbb893;
    
}

#positiveThoughtsID{
    background-color: #ebe4d5;
    padding: 3vw;
    margin-top: 3vh;
    border-radius: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    box-shadow:0 .5px 8px #cbb893;
}


#newEntryContainer{
    margin-top: 3vh;
    padding: 1vw;
    background-image: url(journalCoverBackground.png);
    border-radius: 1.5vw;
    box-shadow:10px 50px 50px #485123;
}


#entryForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    height: fit-content;
    padding: 5vh;
    padding-top: 3%;
    padding-bottom: 5%;
    box-shadow:0 .5vh 0vw #cbb893;
    border-radius: 1vw;
    background-image: url(paperBackground.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}



label{
    padding-top: 30px;
}

textarea{
    outline: none;
    resize: none;
    border: 1px solid #ebe4d5;
    box-shadow:0 .5px 8px #cbb893;

    background-color: #ebe4d5;
    width: 480px;
    height: 30px;
    padding: 3vw;
    margin-top: 2vh;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    border-radius: 1.5vw;
    box-shadow:0 .5px 8px #cbb893;
    font-size: 18px;
}

#addEntryButton{
    background-color: #ebe4d5;
    width:fit-content;
    height:fit-content;
    margin-top: 10%;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    border-radius: 1.5vw;
    box-shadow:0 .5px 8px #cbb893;
    font-size: 14px;
    border-color: #ebe4d5;
}

#createEntryButton{
    background-color: #ebe4d5;
    width:fit-content;
    height:fit-content;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    border-radius: 1.5vw;
    font-size: 14px;
    border-color: #ebe4d5;
}

footer{
    margin-top: 20%;
    color:white;
}

#deleteButton{
    background-color: #ebe4d5;
    width:fit-content;
    height:fit-content;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    border-radius: 1.5vw;
    font-size: 14px;
    border-color: #ebe4d5;
}


#alertPopup{
    background-color: #ebe4d5;
    padding: 1.5vw;
    width:fit-content;
    height:fit-content;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 24px;
    border-radius: 1.5vw;
}
